/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.question-container {
  max-width: 1200px;
  margin: 100px auto;
  padding: 20px;
  background-color: #aec4d9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif; /* Updated font family */
}

h2 {
  font-family: 'Roboto', sans-serif; /* Use Roboto font family */
  font-size: 28px; /* Set font size to 30px */
}

.question {
  margin-bottom: 50px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.question h2 {
  margin-bottom: 12px;
  color: #000000;
  font-size: 20px;
  font-weight: 1000;
}


.question p {
  margin-bottom: 16px;
  color: #100f0f;
  font-size: 18px;
}

.radio-option {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 20px;
  color: #121010;
}

.radio-option input[type="radio"] {
  margin-right: 10px;
  font-size: 20px; /* This might not affect the radio button size directly */
  color: #000000;
  transform: scale(1.5); /* Scale up the radio button */
  -webkit-transform: scale(1.5); /* Ensure compatibility with WebKit browsers */
}


.radio-option input[type="radio"]:checked {
  color: #007bff;
}

.radio-option label {
  cursor: pointer;
  font-size: 14px; 
  color:#000000;
}


.question button {
  width: 100%;
  margin: 20px 0;
  padding: 14px 20px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.question button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.inter-container {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: auto;
}